[user]
	name = .....
	email = .....

[core]
	editor = nano

[rebase]
	autoStash = true

[merge]
	autoStash = true
    keepbackup = false

[pull]
	rebase = true

[fetch]
	prune = true

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true
